<div class="navbar-container">
    <div class="top-section">
      <div class="centered-content">
        <span class="location-icon"><i class="fas fa-map-marker-alt"></i></span> &nbsp;&nbsp;
        <span class="location-text"> Allow location access for local store menu and promos</span>
      </div>
      <button class="top-button">Set Location</button>
    </div>
  
    <div class="bottom-section">
      <div class="left-links">
        <a href="#">WGB</a>
        <a href="#">Menu</a>
        <a href="#">Deals</a>
      </div>
      <div class="right-links">
        <a routerLink="/account" class="navbar-link"><i class="fa-solid fa-user"></i> Account</a>
        <a href="#"><i class="fa-solid fa-sack-dollar"></i> Vault</a>
      </div>
      <span class="logo"><i class="fab fa-font-awesome-logo"></i></span>
    </div>
  </div>
