/* p{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color:red;

}
div{
    background-image: url('./error-404-page-not-found-260nw-2343469473.webp');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    color: rgb(94, 94, 199);
    background-color: rgb(15, 15, 15);
    border: 0cqmax;
    font-size: larger;
    font-style: calc();
    font-family: 'Times New Roman', Times, se
} */