<div class="change-password-container">
    <mat-card class="change-password-card">
      <mat-card-title class="centered" style="margin-bottom: 20px;" *ngIf="!validationOtp">Change Password</mat-card-title>

      <h1 class="showPasswordIcon" (click)="showPasswordfun()" *ngIf="validationOtp">{{ showPassword ? '🙈' : '🙉' }}</h1>

      <form [formGroup]="changePasswordForm">

        <div formGroupName="mobileNumberValidation">
          
        <mat-form-field class="full-width" *ngIf=" status == 1 ">
          <mat-label>User Name</mat-label>
          <input matInput id="username"  [(ngModel)]="username"  formControlName="username" placeholder="User Name" type="text" required>
        </mat-form-field>

        <mat-form-field class="full-width" *ngIf=" status == 1 ">
          <mat-label>Mobile Number</mat-label>
          <input matInput id="mobileNumber"  [(ngModel)]="mobileNumber"  formControlName="mobileNumber" placeholder="Mobile Number" type="text" required>
        </mat-form-field>
      </div>

      <div formGroupName="otpValidation">
        <h3 *ngIf="status == 2">Send a OTP to " {{mobileNumber}} "</h3>
        <mat-form-field class="full-width" *ngIf="status == 2">
          <mat-label>Enter Otp</mat-label>
          <input matInput id="otp" formControlName="otp" placeholder="Enter OTP" type="text" required>
        </mat-form-field>
      </div>

      <a class="resend"  *ngIf="status == 2" (click)="onSendOtp()" >Resend OTP</a>
      <a class="resend"  *ngIf="status == 2" (click)="differentNumber()" >Different Number?</a>

          <button mat-raised-button color="primary" *ngIf="status == 1" (click)="onSendOtp()" type="submit" [disabled]="mobileNumberValidation.invalid" class="full-width">Send OTP</button>
          <button mat-raised-button color="primary" *ngIf="status == 2"(click)="verifyOtp()" type="submit" [disabled]="otpValidation.invalid" class="full-width">Verify OTP</button>
       
       <div formGroupName="passwordValidation">
        <mat-form-field class="full-width input-tag" *ngIf="validationOtp">
          <mat-label>New Password</mat-label>
          <input matInput  [type]="showPassword ? 'password' : 'text'" formControlName="newPassword" required>
          <mat-error *ngIf="passwordValidation.get('newPassword')?.invalid">New Password is required</mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width" *ngIf="validationOtp" >
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="confirmPassword" required>
          <mat-error *ngIf="passwordValidation.get('confirmPassword')?.invalid">Confirm Password is required</mat-error>
        </mat-form-field>
      </div>
      <p class="showPassword" (click)="showPasswordfun()" *ngIf="validationOtp">{{ showPassword ? 'Show' : 'Hide' }} Password</p>
  
        <button mat-raised-button *ngIf="validationOtp" (click)="updatePassword()" color="primary" type="submit" [disabled]="passwordValidation.invalid" class="full-width input-tag">Change Password</button> 
    </form>
    </mat-card>
  </div>
  