.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-gourmet-japanese-restaurant-sushi-creative-simple-business-poster-design-picture-image_1016307.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
  }
  
  .change-password-card {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
  }
  
  .full-width {
    width: 100%;
  }
  
  .centered {
    text-align: center;
  }
  .resend {
    margin: 3% auto; 
    text-decoration: underline;
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
  }
  .showPassword{
    cursor: pointer;
    font-size: 15px;
    margin: 3% auto; 
    display: flex;
  }
  .showPasswordIcon{
    margin: 3% auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 70px;
    cursor: pointer;
  }
  .input-tag{
    margin-top: 10%;
  }